{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": "off",
    "curly": "error",
    "no-unused-vars": [
      "warn",
      {
        "args": "after-used"
      }
    ]
  },
  "plugins": []
}
